@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 3px;
  width: 4px;
}
::-webkit-scrollbar {
  height: 3px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.5s;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  /* padding-left: 300px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5841d9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#chatSegmentLight::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  transition: 0.5s;
  /* padding-left: 300px; */
}
#chatSegmentLightClose::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  transition: 0.5s;
  /* padding-left: 300px; */
}
#chatSegmentLight::-webkit-scrollbar-thumb {
  background: #5841d9;
  border-radius: 10px;
}
@font-face {
  font-family: wakanda;
  src: url(./assets/font/WAKANDA\ PANTHER.ttf);
}

@font-face {
  font-family: nunitosans;
  src: url(./assets/font/Onest-VariableFont_wght.ttf);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*  */

.lds-facebook {
  display: inline-block;
  position: relative;
  margin-top: -9px;
  width: 20px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 5px;
  border-radius: 30px;
  background: #8976f2;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 10px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 20px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 15px;
    height: 30px;
  }
  50%,
  100% {
    top: 24px;
    height: 10px;
  }
}

.height {
  min-height: -webkit-fill-available;
}

/* .walpaper {
  background: url("./assets/img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #050e17;
} */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #5841d9;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*  */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #5841d9;
  animation: prixClipFix 2.5s linear infinite;
}
.loader::after {
  border-color: #9987ff;
  animation: prixClipFix 2.5s linear infinite,
    rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* ------------------------- */

/* #he > span {

  white-space: nowrap;
  transform: translateX(0);
  transition: 1s;
}
#she:hover > span {
  transform: translateX(calc(200px - 100%));
} */
