@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 3px;
  width: 4px;
}
::-webkit-scrollbar {
  height: 3px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141627;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  /* padding-left: 300px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5841d9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: wakanda;
  src: url(./assets/font/WAKANDA\ PANTHER.ttf);
}

@font-face {
  font-family: nunitosans;
  src: url(./assets/font/Onest-VariableFont_wght.ttf);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*  */

.lds-facebook {
  display: inline-block;
  position: relative;
  margin-top: -9px;
  width: 20px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 5px;
  border-radius: 30px;
  background: #8976f2;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 10px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 20px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 15px;
    height: 30px;
  }
  50%,
  100% {
    top: 24px;
    height: 10px;
  }
}

.height {
  min-height: -webkit-fill-available;
}

/* .walpaper {
  background: url("./assets/img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #050e17;
} */
